:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color:#EE4D2D;
    --border-color: #bdbdbd;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var( --header-height) - var(--navbar-height) )
}

* {
    box-sizing: inherit;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    padding-left: 0;
}

i {
    display: block;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* animation */
@keyframes fadeIn {
    from  {
        opacity: 0;
    }
    to  {
        opacity: 1;
    }
}

@keyframes Circular {
    from {
        transform:  rotate(0);
    }
    to {
        transform:  rotate(90deg);
    }
}

@keyframes Grow {
    from  {
        opacity: 0;
        transform: scale(0);
    }
    to  {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Growth {
    from  {
        transform: scale(--growth-from);
    }
    to  {
        transform: scale(--grow-to);
    }
}

@keyframes Slide {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    /* animation: fadeIn linear 0.1s; */
    display: none;
}

.modal.open{
    display: flex;
}

.js-show-login.open.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}  

.modal__body {
    --grow-from: 0.5;
    --grow-to: 1;
    position: relative;;
    margin: auto;
    z-index: 1;
    /* animation: Grow linear 0.2s; */
}

/* button style */
.btn {
    min-width: 124px;
    /* background-color: var(--white-color); */
    height: 34px;
    font-size: 1.3rem;
    padding: 0 12px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn--bland:hover {
    background-color: #fa684a;
    cursor: pointer;
}

.btn--normal:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

.btn.btn--primary   {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* begin selection */
.select-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    height: 34px;
    padding: 0 12px;
    border-radius: 4px;
    position: relative;
    min-width: 200px;
    font-size: 1.3rem;
    z-index: 1;
}

.select-input-icon {
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
    display: block;
}

.select-input__list {
    position: absolute;
    right: 0;
    left: 0;
    top: 70%;
    padding: 4px;
    list-style: none;
    font-size: 1.4rem;
    background-color: var(--white-color);
    border-radius: 4px;
    display: none;
}

.select-input__list::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: transparent;
    top: -10px;
    right: 0;
    left: 0;
}

.select-input__link {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 8px 12px;
}

.select-input__item a:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}

/* end selection */

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    margin: 0 8px 0;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link {
    --height: 30px;
    display: block;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 4px;
}


