.header {
    height: 12rem;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 34px;
}

.header__navbar-list {
    list-style-type: none; 
    padding: 0;
    display: flex;
}

.header__navbar-item {
    position: relative;
    margin: 0 0.8rem;
    min-height: 1.6rem;
    z-index: 3;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(256, 256, 256, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.4rem;
    color: var(--white-color);
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.eader__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item {
    background-color: var(--primary-color);
    border: none;
}

.header__navbar-item--saparate::after {
    content: "";
    position: absolute;
    display: block;
    border-right: 3px solid #FB9086;
    height: 1.6rem;
    top: 0;
    right: -1.1rem;
}

.header__navbar-item--has-qr:hover  .header__qr {
    display: block;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 0.4rem;
}

.header__navbar-item--span {
    cursor: text;
    color: var(--white-color);
    margin-right: 2.4px;
}

/* begin user name */
.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
    z-index: 3;
}

.header__navbar-user-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 5px;
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    width: 160px;
    list-style: none;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    z-index: 3;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {
    z-index: 1;
}

.header__navbar-user-item a:hover {
    background-color: #eeeeee;
    color: var(--primary-color);
}

.header__navbar-user-item a{
    padding: 12px;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    right: 5px;
    z-index: -1;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 70%;
    top: -10px;
    right: -2px;
    cursor: pointer;
}

/* end user name */

/* Header QR code*/
.header__qr {
    width: 19rem;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 200%;
    padding: 16px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease .2s;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5rem;
    left: 0;
    top: -3rem;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__qr-dowload-ios{
    margin-left: 1.1rem;
}  

.header__qr-dowload-android{
    margin-right: 1.1rem;
}

.header__qr-dowload-img {
    height: 1.4rem;
}
/* end QR code */

/* begin thông báo */
.header__notify {
    position: absolute;
    top: 200%;
    right: 0;
    width: 40.4rem;
    height: 35rem;
    background-color: var(--white-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    display: none;
    animation: Grow ease 0.2s;
    transform-origin: calc(100% - 20px) top;
    border-radius: 12px;
    cursor: context-menu;
    /* z-index: 2; */
}

.header__notify::before {   
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;
    left: 0;
    top: -1.8rem;
}

.header__notify::after { 
    content: "";
    border-width: 20px 28px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify-content {
    height: calc(35rem - 3.2rem);
    animation: Gromth linear 0.2;
    z-index: 2;
}

.header__notify-content-img {
    width: 100px;
    margin: 100px 154px 0px 154px;
}

.header__notify-content-desrciotion {
    color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.header__notify-foot {
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.header__notify-foot-register-register {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 0 0 0 6px;
}

.header__notify-foot-register-login {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 0 0 6px 0;
}

.header__notify-foot-register-register:hover {
    background-color: #9999;
    color: #fb5731;
}

.header__notify-foot-register-login:hover {
    background-color: #9999;
    color: #fb5731;
}

.header__navbar-item-link:hover .header__notify {
    display: block;
} 
/* end thông báo */

/* authen modal */
.auth-form{
    width: 50rem;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    min-width: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    animation: Slide ease 0.5s;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    padding: 12px 12px 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--white-color);
    border: none;
}

.auth-form__group {
    padding-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 12px;
    border: 1px solid var(--text-color);
}

.auth-form__aside {
    margin: 18px 4px 0 4px;
}

.auth-form__policy-text {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: right;
}

.auth-form__controls--back {
    margin-right: 12px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
}

.auth-form__socials--facebook,
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-text {
    margin: 0 36px;
}

.fa-google {
    color: black;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: black;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    margin:16px 0 96px 0;
}

.auth-form__help-link:hover {
    color: var(--primary-color);
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    justify-items: center;
    align-items: center;
}

.header-with-logo {
    text-align: center;
    width: 220px;
}

.header-with-logo--img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-with-logo--img {
    font-size: 54px;
    color: var(--white-color);
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__search {
    width: 100%;
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

/* begin card */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    z-index: 2;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 8px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    box-shadow: 0 0 4px #999;
    border-radius: 5px;
    top: 108%;
    right: -5px;
    background-color: var(--white-color);
    width: 400px;
    animation: Grow ease 0.1s;
    transform-origin: calc(100% - 10px) top;
    cursor: default;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -26px;
    right: 4px;
    cursor: pointer;
}

.header__cart-notice {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1px 6px;
    border-radius: 10px;
    border: 3px solid #f75f40;
    top: 0px;
    right: -8px;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart-img {
    width: 50%;
    margin-top: 12px;
    display: none ;
}

.header__cart-list--no-cart-msg {
    display: none;
    margin: 20px 0 44   px 0;
    font-size: 1.4rem;
}

/* has product */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 55vh;
    overflow-y: auto;
}

.header__cart-item  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

.header__cart-img  {
    width: 52px;
    height: 42px;
    margin: 12px;
    border: 2px solid #999;
}

.header__cart-item-info {
    width: 100%;
    padding: 0 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
}

.header__cart-item-name {
    max-width: 180px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    padding-right: 16px;
    overflow:hidden ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;

}

.header__cart-item-body {
    text-align: left;
    padding: 0 4px;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 400;
}

.header__cart-item-remove {
    float: right;
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 12px;
}

.header__cart-view-cart.btn:hover {
    background-color: #fa684a;
    cursor: pointer;
}

/* end cart */

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-history {
    background-color: var(--white-color);
    box-shadow: 0 0 3px #999;
    position: absolute;
    width: calc(100% - 12px);
    top: 110%;
    box-shadow: 0 0 4px #999;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
    z-index: 2;
}

.header__search-history-heading {
    margin: 0;
    line-height: 24px;
    padding: 12px 12px 4px 12px;
    color: #888;
    font-weight: 400;
}

.header__search-history-list {
    margin: 0;
    padding-left: 0;
}

.header__search-history-item:hover {
    background-color: #e8e8e8;
}

.header__search-history-item {
    list-style: none;
    line-height: 32px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    padding: 8px 12px 8px 12px;
    display: block;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 16px;
    border-radius: 4px;
}

.header__search-seletion {
    border-left: 2px solid #888;
    padding-left: 8px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.header__search-seletion-label {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px;
}

.header__search-seletion-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 8px 0 0;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border-radius: 4px;
    outline: none;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 110%;
    width: 140px;
    list-style: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    padding-left: 0;
    border-radius: 4px;
    display: none;
    z-index: 1;
    animation: Grow ease 0.3s;
    transform-origin: calc(100% - 10px) top;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 100%;
    background-color:transparent;
    top: -16px;
}

.header__search-seletion:hover .header__search-option {
    display: block;
} 

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 8px 4px 8px 12px ;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 0 4px 0 12px;
    float: right;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* container */
.app_container {
    background-color: #F5F5F5;
}

.app__container {
    padding-top: 32px;
}

.category {
    background-color: var(--white-color);
    border-radius: 4px;
}

.caterory__heading {
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 8px 16px;
    border-bottom: 1px solid #888 ;
    margin: 0;
}

.caterory__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-list--active {
    padding-bottom: 8px ;
}

.category-item {
    position: relative;
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    padding: 6px 32px;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover  {
    right: -4px;
    color: var(--primary-color);
}

.category-list--active .category-item__link-heading {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 12px 32px;
    display: block;
}

.category-list--active .category-item__link-heading::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 16px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    display: none;
}

.category-item__link-heading-icon:hover {
    transform:  rotate(90deg);
    animation: Circular ease 0.3s;
}


/* home soft and fitler */

.home-fitler {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-fitler__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-fitler-btn.btn {
    margin-right: 12px;
    min-width: 90px;
    background-color: var(--white-color);
}

.home-fitler__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-fitler__page-num {
    font-size: 1.4rem;
}

.home-fitler__page-current {
    color: var(--primary-color);
}

.home-fitler__page-control {
    background-color: var(--white-color);
    font-size: 1.4rem;
    margin-left: 8px;
    border-radius: 2px;
    overflow: hidden;
}

.home-fitler__page-btn {
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
}

.home-fitler__page-btn:first-child {
    border-right: 1px solid #ccc;
}

.home-fitler__page-btn--disadled {
    background-color: #f9f9f9;   
    cursor: default;
}

.home-fitler__page-btn--disadled .home-fitler__page-icon {
    color: #ccc;
}

/* begin product item */
.home-product {
    margin-bottom: 12px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 6px 10px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    padding: 0 10px;
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 4px;
}

.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    float: right;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 12px 10px;
}

.home-product-item__heart {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.home-product-item__star--vote {
    color: var(--primary-color);
}

.home-product-item__rating {
    color: #D5D5D5;
    margin: 0 0 0 auto;
}

.home-product-item__sold {
    font-size: 1.4rem;
    color: var(--text-color);  
    margin-left: 6px; 
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 18px;
    padding-bottom: 12px;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 4px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    /* giảm độ sáng */
    filter: brightness(60%);
    top: 16px;
    left: 0px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);

}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.2rem;
}

/* end product item */

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* footer */
.footer {
    border-top: 5px solid var(--primary-color);
    padding-top: 24px;
}

.footer_extra {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 18px;
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer_pay-logo img {
    width: 50px;
    height: 30px;
}

.footer__address-logo img {
    width: 50px;
    height: 50px;
}

.footer__list a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 6px 0;

}

.footer__list a:hover {
    color: var(--primary-color);
}

.footer__list i {
    font-size: 1.8rem;
    padding: 4px;
    position: relative;
    top: 3px;
}

.footer__download {
    display: flex ;
    justify-items: center;
    align-items: center;
}

.footer__download-pr {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.08);
}

.footer__download-apps {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.footer__download-apps img {
    margin: 8px 0 8px 8px;
    height: 16px;
}

.license {
    text-align: center;
    font-size: 1.2rem;
    padding: 12px 4px;
}

